<div class="container">
  <app-user-list-item
    [user]="user"
    *ngFor="let user of users"
  ></app-user-list-item>
  <div class="show-blacklisted" (click)="toggleBlackListed()">
    <div *ngIf="users.length != 0" class="show-button">
      <p>Show Blacklisted Users</p>
    </div>
  </div>
  <div *ngIf="showBlacklisted" style="flex-direction: column; gap: 15px">
    <app-user-list-item
      (userBlacklisted)="onUserBlacklisted($event)"
      [user]="user"
      *ngFor="let user of blackListedUsers"
    ></app-user-list-item>
  </div>
</div>
